<template name="custom_layout">
  {{#if appIsReady}}
    {{> css}}
    <div class="outer-wrapper {{currentPage}} {{navLayout}}">
      {{> mobile_nav}}
      <div class="inner-wrapper template-{{pageName}}">
        {{> header class=headerClass}}
        {{> mobile_nav_bottom}}
        {{> Template.dynamic template=hero}}
        <div class="content-wrapper">
          {{#if notAllowed}}
            {{> Template.dynamic template=notAllowed.template data=notAllowed.data}}
          {{else}}
            {{> Template.dynamic template=adminMenu}}
            {{> modules zone="contentTop"}}
            {{> Template.dynamic template=main}}
            {{> modules zone="contentBottom"}}
          {{/if}}
          {{> modules zone="footer"}}
          {{> Template.dynamic template="modal" data=modalData}}
        </div>
        <div class="overlay hidden"></div>
      </div>
      {{{extraCode}}}
    </div>
  {{else}}
    <div class="app-loading">{{> loading}}</div>
  {{/if}}
</template>




<template name="modal">
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{this.title}}</h4>
        </div>
        <div class="modal-body">
          {{this.body}}
        </div>
      </div>
    </div>
  </div>
</template>