.post-status {
    height: 24px;
    text-align: center;
    padding-top: 2px;
}

@media screen and (min-width: 600px){
	.panel-body .control-label{
	    float: none !important;
	}

}

.editUserForm .control-label{
	float:right;
	padding-right:20px;
}